asgiref==3.5.0
Django==4.0.3
django-recaptcha==3.0.0
django-simple-history==3.0.0
djangorestframework==3.13.1
future==0.18.2
imutils==0.5.4
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.1.0
psycopg2==2.9.3
pytz==2022.1
serializers==0.2.4
sqlparse==0.4.2
tablib==3.2.1
tzdata==2022.1
Unipath==1.1