{% block content %}
<div style="text-align: center;">
    <h1>Listado de Vacunas</h1>
	<h4>Cantidad de Vacunas:  {{cantidad}}</h4>
</div>




	
</p>


<table class="table table-bordered">
	<thead>
		<tr>
			<td># de ID</td>
			<td>Nombre de la Vacuna</td>
		
		</tr>
		
	</thead>
	<tbody>
		{% if vacunas %}
		{% for vacuna in vacunas%}
		<tr>
			<td>{{ vacuna.id }}</td>
            <td>{{vacuna.nombre}}</td>
           
		</tr>




		{% endfor %}
		
		{% else %}
		<h1>No hay registros de mascotas</h1>
		{% endif %}



	</tbody>





</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>



{% endblock%}