{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="POST" action="" class="mt-2" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <h3 class="text-center">¿Desea eliminar la vacuna {{vacuna.nombre}} ?</h3>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-danger" >Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'mascota:vacuna_listar' %}">Cancelar</a>
        </div>
        
    </form>
{% endblock %}