{% extends 'base/base.html' %} 

{% block navbar%}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">HOME</a>
		<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	</button>
	</div>
</nav>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<h1>Solicitar adopción</h1>
<form method="post">
        {% csrf_token %}

        <div class="row">
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.nombre.name}}">{{form2.nombre.label}}</label>
                                {{form2.nombre}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.nombre.apellidos}}">{{form2.apellidos.label}}</label>
                                {{form2.apellidos}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.edad.name}}">{{form2.edad.label}}</label>
                                {{form2.edad}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.email.name}}">{{form2.email.label}}</label>
                                {{form2.email}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.telefono.name}}">{{form2.telefono.label}}</label>
                                {{form2.telefono}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form2.domiclio.name}}">{{form2.domicilio.label}}</label>
                                {{form2.domicilio}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form.numero_mascotas.name}}">{{form.numero_mascotas.label}}</label>
                                {{form.numero_mascotas}}
                        </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                        <div class="form-group">
                                <label for="{{form.razones.name}}">{{form.razones.label}}</label>
                                {{form.razones}}
                        </div>
                </div>
        </div>
        <br>
        <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
        </div>
</form>
<br>
<br>
{% endblock %}