
{% extends 'base.html'%}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<div class="shadow p-3 mb-5 bg-body rounded center-form">
    <h1>Añadir mascota</h1>

    {% if submitted %} 
    
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Tu solicitud ha sido enviada
        </div>
      </div>
    
    {% else %} 


    <form action="{% url 'mascota:addPet' %}" method="POST" enctype="multipart/form-data">
       
        {% csrf_token %}
        
        {{form.as_p }}

        
    </br>
        <button  type="submit" class="btn btn-primary form-control">Añadir</button>
    </form>
</div>


{% endif %}
{% endblock %}
