{% extends 'base.html'%}
{% block content%}
<style>
    .img {
        object-fit: cover;
        height: 250px;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">Clientes</h1>
<div style="text-align: right;">
  {% if user.is_authenticated and user.is_staff %}
  <a class="btn btn-sm btn-outline-dark" href="{% url 'usuario:clientes_listar_pdf'%}">Generar PDF</a>
  {% endif %}
</div>
    <div class="table-responsive">
    <table class="table table-hover table-sm table-responsive">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Email</th>
                {% if user.is_authenticated and user.is_superuser %}

                <th scope="col">Superususario</th>
                <th scope="col">Colaborador</th>
                <th scope="col">Cliente</th>
                {% else %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            
            
            {% for client in  Client_list%}
            

            <tr>
                <th scope="row">{{client.id}}</th>
                <td>{{client.username}}</td>
                <td>{{client.get_full_name}}</td>
                <td>{{client.email}}</td>

                {% if user.is_authenticated and user.is_superuser %}

                <td>{{client.is_superuser}}</td>
                <td>{{client.is_staff}}</td>
                <td>{{client.is_active}}</td>
                {% else %}
                {% endif %}

                <td><a  class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{client.id}}">Eliminar</a></td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{client.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{client.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ¿Está seguro que quiere eliminar este elemento?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <a  href= "{% url 'usuario:deleteClient' client.id %}" class="btn btn-danger" >Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </tbody>
      </table>
    </div>


        
{% endblock %}
